#blok-body{
    width: 1035px;
    height: 840px;
    border: 1px solid black;
    margin: 0 auto;
}
#blok-header{
    width: 1035px;
    height: 220px;
    border: 1px solid rgb(243, 227, 8);
    margin: 0 auto;
    
}
#blok-content{
    width: 800px;
    height: 400px;
    border: 1px solid rgb(131, 68, 199);
    margin: 0 auto;
    float: right;
}
#blok-right{
    width: 220px;
    height: 400px;
    border: 1px solid red;
    margin: 0 auto;
    float: left;
}
#blok-footer{
    width: 1035px;
    height: 220px;
    border: 1px solid rgb(11, 161, 230);
    float: left;

}