<link href="/static/css/style.css" rel=stylesheet>
<div id="blok-right">

    <div id="left">
        <h3>Меню</h3>
        <ul>
            <li><a href="">Магазин</a>
                    <ul>
                        <li><a href="">Головные уборы</a></li>
                        <li><a href="">Шарфы</a></li>
                        <li><a href="">Куртки</a></li>
                        <li><a href="">Штаны</a></li>
                        <li><a href="">Обувь</a></li>
                        <li><a href="">Аксесуары</a></li>
                    </ul>
                </li>
        </ul>
    </div>
</div>