<link href="/static/css/style.css" rel=stylesheet>
<div>

		<table id=blok-content cellspacing = 40>
            <!--пока сделаю по 2 предложения в ряд--> 
            <tr>
            <td><img src="" alt = "1"></td>
            <td><img src="" alt = "2"></td>
            </tr>
            <tr>
            <td><img src="" alt = "1"></td>
            <td><img src="" alt = "2"></td>
            </tr>
            <tr>
            <td><img src="" alt = "1"></td>
            <td><img src="" alt = "2"></td>
            </tr>
		</table>

</div>